# fly.toml app configuration file generated for auto-add2-cart on 2026-01-12T18:11:43+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'auto-add2-cart'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
