# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "3fa65203399b8402461629d13c145ac2"
name = "Auto Add2Cart"
application_url = "https://auto-add2-cart.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_cart_transforms,write_cart_transforms"

[auth]
redirect_urls = [ "https://auto-add2-cart.fly.dev/api/auth" ]

[app_proxy]
url = "https://auto-add2-cart.fly.dev"
prefix = "apps"
subpath = "auto-add2cart"


